<table>
	<tr class='other-filter' data-team-id='1'>
	  <td data-attribute-for='name'>Ajax</td>
	</tr>
</table>

<table>
	<tr class='the-filter' data-team-id='1'>
	  <td data-attribute-for='name'>Ajax</td>
	</tr>
	<tr class='the-filter' data-team-id='1'>
	  <td data-attribute-for='name'>Ajax</td>
	</tr>
</table>
