<form data-team-id='1'>
	<input data-attribute-for='name'>
	<button data-action-for='create'>
	<button data-action-for='multiple_action'>
	<button data-action-for='multiple_action'>
</form>
<button data-action-for='page_action'>
<button data-action-for='multiple_action'>
<button data-action-for='multiple_action'>
