<div>
	<div class='the-selector' data-team-id='1'>
	  <div data-attribute-for='name'>Ajax</div>
	</div>
</div>
<div>
	<div class='other-selector' data-team-id='1'>
	  <div data-attribute-for='name'>Ajax</div>
	</div>
</div>	